@import url("https://fonts.googleapis.com/css?family=Poppins:400");
*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  margin: 0;
  line-height: 1.3;
  background-color: #011010;
  font-family: 'Poppins', sans-serif;
  color: white;
  height: 100vh;
}

p {
  margin-bottom: 1rem;
}

h1, h2, h3, h4, h5 {
  margin: 3rem 0 1.38rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  line-height: 1.3;
}

h1 {
  margin-top: 0;
  font-size: calc(max(40px, 4.2vw), 68px);
  max-width: 24ch;
}

@supports (font-size: clamp(40px, 4.2vw, 68px)) {
  h1 {
    font-size: clamp(40px, 4.2vw, 68px);
  }
}

h2 {
  font-size: calc(max(32px, 3.2vw), 50px);
  max-width: 28ch;
}

@supports (font-size: clamp(32px, 3.2vw, 50px)) {
  h2 {
    font-size: clamp(32px, 3.2vw, 50px);
  }
}

h3 {
  font-size: calc(max(28px, 2.4vw), 38px);
  max-width: 32ch;
}

@supports (font-size: clamp(28px, 2.4vw, 38px)) {
  h3 {
    font-size: clamp(28px, 2.4vw, 38px);
  }
}

h4 {
  font-size: calc(max(24px, 1.8vw), 28px);
  max-width: 40ch;
}

@supports (font-size: clamp(24px, 1.8vw, 28px)) {
  h4 {
    font-size: clamp(24px, 1.8vw, 28px);
  }
}

h5 {
  max-width: 42ch;
  font-size: calc(max(20px, 1.3vw), 22px);
}

@supports (font-size: clamp(20px, 1.3vw, 22px)) {
  h5 {
    font-size: clamp(20px, 1.3vw, 22px);
  }
}

p {
  font-size: calc(max(16px, 1vw), 18px);
  max-width: 68ch;
}

@supports (font-size: clamp(16px, 1vw, 18px)) {
  p {
    font-size: clamp(16px, 1vw, 18px);
  }
}

small, .text_small {
  font-size: calc(max(12px, 75vw), 14px);
}

@supports (font-size: clamp(12px, 75vw, 14px)) {
  small, .text_small {
    font-size: clamp(12px, 75vw, 14px);
  }
}

a {
  color: white;
  text-decoration: none;
  -webkit-transition: .3s;
  transition: .3s;
  font-weight: bold;
}

ul {
  list-style: none;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 100vh;
  width: 50vw;
  z-index: 2;
}

nav a {
  font-family: futura-pt, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: clamp(40px, 4.2vw, 68px);
  margin: 1em 0;
  -webkit-text-stroke: 1px white;
  color: transparent;
  text-transform: uppercase;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

nav a:hover {
  color: white;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.hover-photos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50vw;
  height: 100vh;
  position: relative;
}

.hover-photos img {
  position: absolute;
  visibility: hidden;
  -webkit-transition: -webkit-clip-path .3s ease;
  transition: -webkit-clip-path .3s ease;
  transition: clip-path .3s ease;
  transition: clip-path .3s ease, -webkit-clip-path .3s ease;
  -webkit-clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
          clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
}

.hover-photos img.show {
  visibility: visible;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
/*# sourceMappingURL=styles.css.map */